@import url('https://fonts.googleapis.com/css2?family=Federant&family=Oldenburg&family=Teko:wght@600&display=swap');

h2 {
  font-family: 'Federant', serif;
}

p, li {
  font-family: 'Federant', serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}